<template>
  <header class="header">
    <h1 class="title">吃易选</h1>
  </header>
</template>

<script>
export default {
  
}
</script>

<style scoped>
  .header .title {
    font: 400 24px/40px 'serif';
    text-align: center;
    background-color: #f8f8f8;
  }
</style>

